body {
    padding: 1em;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(rgb(0,181,200), white);
    color: rgb(68, 68, 68);
}
.form-group {
    padding: .5em;
}
.label {
    font-weight: bold;
}
#other {
    margin-left: 20px;
}