body {
    padding: 1em;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(rgb(0,181,200), white);
    background-repeat: no-repeat;
    color: rgb(68, 68, 68);
}
.label {
    font-size:larger;
    color: rgb(68, 68, 68);
}
#other {
    margin-left: 20px;
}